<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tracer">
    <link name="base_link">
        <visual>
            <geometry>
                <sphere radius="0.0001"/>
            </geometry>
        </visual>
    </link>
    <xacro:include filename="$(find test_mycar)/xacro/params.xacro"/>
    <xacro:include filename="$(find test_mycar)/xacro/inertia.xacro"/>
    <xacro:include filename="$(find test_mycar)/xacro/chasis.xacro"/>
    <xacro:include filename="$(find test_mycar)/xacro/spheres.xacro"/>
    <xacro:include filename="$(find test_mycar)/xacro/lidar.xacro"/>
    <!-- <xacro:include filename="$(find test_mycar)/xacro/camera.xacro"/> -->
    <xacro:include filename="$(find test_mycar)/xacro/kinect_camera.xacro"/>
    <xacro:include filename="$(find test_mycar)/xacro/platform.xacro"/>
    <xacro:include filename="$(find test_mycar)/xacro/wheels.xacro"/>
</robot>