<?xml version="1.0"?>
<launch>
    <node name="map_server" pkg="map_server" type="map_server"
        args="$(find my_gazebo_sim)/maps/my_room_wall.yaml">
        <param name="frame_id" value="map" />
    </node>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find my_gazebo_sim)/param/costmap/common.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find my_gazebo_sim)/param/costmap/common.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find my_gazebo_sim)/param/costmap/local.yaml" command="load" />
        <rosparam file="$(find my_gazebo_sim)/param/costmap/global.yaml" command="load" />
        <rosparam file="$(find my_gazebo_sim)/param/racebot/teb.yaml" command="load" />
        <!-- <rosparam file="$(find my_gazebo_sim)/param/tracer/dwa.yaml" command="load" /> -->
        <rosparam file="$(find my_gazebo_sim)/param/racebot/move_base.yaml" command="load" />
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    </node>
    <include file="$(find my_gazebo_sim)/launch/amcl.launch"/>
     <node name="rviz" pkg="rviz" type="rviz"  output="log" args = "-d $(find my_gazebo_sim)/config/racebot/teb_rviz.rviz"/>
</launch>