<?xml version="1.0"?>
<launch>
    <rosparam file="$(find test_mycar)/config/ackermann/ackermann.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/racecar" 
    args="joint_state_controller 
    rear_right_velocity_controller 
    rear_left_velocity_controller
    front_right_steering_position_controller
    front_left_steering_position_controller"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find test_mycar)/xacro/ackermann/racecar.xacro"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" type="double" value="20.0" />
        <remap from="/joint_states" to="/racecar/joint_states"/>
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
         <param name="publish_frequency" type="double" value="20.0" />
    </node>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value = "$(find test_mycar)/worlds/my_room_wall.world"/>
    </include>

    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -model tracer -param robot_description"/>
    <node name="cmd2gazebo" pkg="test_mycar" type="cmd2gazebo.py" output="screen"/>
    <node name="odom_pub" pkg="test_mycar" type="odom_pub.py" output="screen"/>
</launch>